<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <h1>People of EDA Land</h1>
    <ul>
    {{#each users}}
      <li><a href="/profile/{{id}}">{{name}}</a></li>
    {{/each}}
    </ul>
  </body>
</html>
